.container-proventos{
    width: 100vw;
}
.container-proventos-corpo{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.container-proventos-titulo{
    margin-top: 10px;
    width: 100vw;
    padding-left: 30px;
}
.container-cabecalho{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
}
.input-meses, 
.input-ano{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 300px;
}
.input-meses > select,
.input-ano > input{
    height: 35px;
    border-radius: 6px;
    padding: 4px;
}
.container-ticket-valor{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.input-ticket, 
.input-valor{
    width: 300px;
    display: flex;
    flex-direction: column;

}
.input-ticket > input, 
.input-valor > input{
    height: 35px;
    border-radius: 6px;
    padding: 4px;
}
.contaier-btn-adicionar{
    margin-top: 10px;
    padding-top: 8px;
}

.container-list-proventos{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    width: 500px;
}

@media (max-width: 500px) {
    .container-cabecalho{
        display: flex;
        flex-direction: column;
    }
    .input-meses, 
    .input-ano,
    .input-ticket, 
    .input-valor{
        width: 100vw;
    }
    
}