
.container-grafico{
    margin-top: 20px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-grafico > span{
    color: #fff;
}
